<html>
    <head>
        <title>advisor</title>
        <link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/biis.css" rel="stylesheet" type="text/css">
    </head>
    <body class="body">
        <div class="outside_box" >
            <div class="top">
                <img src="/images/top.png">
                <nav>
                    <ul>
                        <li><a href="https://www.buet.ac.bd/web/">BUET Home</a></li>
                        <li><a href="http://medical.buet.ac.bd/web/">Medical Center</a></li>
                        <div style="display:inline-block; margin-left: 60px; font-size: smaller;">
                            <li><a href="/home/<%= instructor.id%>">Home</a></li>
                            <li><a href="#">Secure BIIS</a></li>
                            <li><a href="#">Campus life</a></li>
                            <li><a href="#">Notice Board</a></li>
                            <li><a href="/">Logout</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
            <div class="inside_box">
                <div class="inside_left">
                    <sidenav>
                        <ul>
                            <li><a href="/registration/<%= instructor.id%>">Registration</a></li>
                            <li><a href="/grade/<%= instructor.id%>">View Grade</a></li>
                            <li><a href="/adviser/<%= instructor.id%>">My Advisor</a></li>
                            <li><a href="/contact_info/<%= instructor.id%>">My Contact Information</a></li>
                            <li><a href="/change_password/<%= instructor.id%>">Change Password</a></li>
                        </ul>
                    </sidenav>
                    <web style="margin: 120% 0 0 0;"><a href="https://webmail.buet.ac.bd/">BUET WebMail</a></web>
                </div>
                    <div class="inside_right">
                        <div class="advisor">                           
                           <div class="advisor_box">
                            <img src="<%=instructor.profile%>" ><br>
                            <br>
                            <p><%=instructor.name%><br>
                                <%=instructor.dept%><br><%=instructor.designation%></p>
                           </div>
                        </div>
                        <img src="/images/bottom.png" style="margin-top: 55px;" >
                    </div>
                          
                </div>
               
            </div>
            
       
        <div class="bottom_box" >
        <pre>Bangladesh University of Engineering & Technology (BUET), Dhaka-1000, Bangladesh. Tel: (880 2) 9665650 Fax: (880 2) 8613046. 2007 © All rights reserved, BUET</pre>
        </div>
    </body>
</html>